* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Inter, sans-serif;
  margin: 0;

}
.container {
position: absolute;
display: flex;
min-height: 100vh;
flex-direction: column;
}
nav {
display:flex;
flex-basis: 55px;
flex-grow: 0;
background:#F55A5A;
align-items: center;
justify-content: center;
gap: 10px;
}
.nav--icon {
  flex-basis: 24px;
  height: 24px;
  color: white;
  margin: 0;
  padding: 0;
}
.nav--title {
color: #FFFFFF;
flex-basis: 109px;
height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14.4608px;
line-height: 18px;
letter-spacing: -0.075em;
}
.card {
  font-size: 12px; 
  display: flex;          
  flex-direction: row; 
  gap: 30px;
  margin-left: 50px;
  margin-top: 40px;
  margin-right: 50px;
  border-bottom:  1px solid #F5F5F5;
}
.card--image{
flex-basis: 125px;
flex-grow: 0;
height: 168px;
border-radius: 5px;
flex-shrink: 1;
margin-bottom: 40px;
margin-top: 0px;
padding-top: 0;
}
.card--info{
  flex-basis: 326px;
  flex-grow: 3;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.location-info {
  display: flex;
  flex-direction: row;
  flex-basis: 550px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 5px
}
.card--location {
  min-height: 12px;
  flex: 0 0 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  
}
.card--location-url{
  color: #918E9B;
  flex: 1 1 225px;
  min-height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  
}
.card--title{
  flex-basis: 326px;
  min-height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.card--description{
  margin-top: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  

}
.map-marker{
  margin-right: 5px;
  color: orangered;
}
