* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: Inter, sans-serif;
  margin: 0;
}
.container {
position: absolute;
width: 550px;
height: 704px;
}
nav {
position: absolute;
width: 550px;
height: 100px;
left: 0px;
top: 0px;
background:#F55A5A;
}
.nav--icon {

  height: 20px;
  width: 20px;
}
.nav--title {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}